
/*Necesarios*/
:root {
    --primary-color: #F4F0EB;
    --secundary-color: #568281;
    --extra-color: #89BAC8;
    --color-text: #2F3E45;
    --cancel-color: #C8898C;
}

body {
    background-color: var(--primary-color);
    font-family: 'Inria Sans';
}
/*NAVBAR*/
nav{
    background-color: var(--primary-color);
}
.navbar-brand, .btn {
    color: var(--color-text);
}

.navbar-brand:hover {
    color: var(--color-text);
}

.search {
    background-color: rgba(86, 130, 120, 0.5);
    border-radius: 2em;
    display: flex;
    align-items: center;

}

nav .form-control {
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-text); 
    border-radius: inherit; 
}

nav .form-control::placeholder {
    color: var(--color-text);
}

nav .form-control:focus {
    background-color: transparent !important;
    box-shadow: none; 
}

.bi-search {
    color: var(--color-text);
    background: transparent; 
}

.btn-outline-primary {
    color: var(--primary-color);
    background-color: var(--secundary-color);
    border-color: var(--secundary-color);
    border-radius: 2em;
}

.btn-outline-primary:hover {
    border-color: var(--secundary-color);
    background-color: var(--secundary-color);
}

.btn:hover{
    font-weight: bolder ;
}

.line {
    width: 81%;
    height: 1px;
    background-color: var(--secundary-color);
    margin: 0.4em auto 0 auto;
}

/*Main*/

.space{
    margin: 2em;
}

.logo{
    background-color: rgba(86, 130, 120, 0.5);
    margin-top: 4em;
    margin-left: 10em;
}

.dataLogin{
    margin: 1.3em 4.5em;
}

.login{
    background-color: var(--color-text);
    margin-top: 4em;
    margin-right: 10em;
    color: var(--primary-color);
}

.imgLogo{
    transform: scale(0.6);
}

.form-control {
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-text); 
    border-radius: inherit; 
    border-bottom: 0.1em solid var(--primary-color);
}

.form-control::placeholder {
    color: var(--color-text);
}

.form-control:focus {
    background-color: transparent !important;
    box-shadow: none; 
    color: var(--primary-color);
}

.link{
    color: var(--primary-color);
    all: unset;
    cursor: pointer;
    text-decoration: underline;
}
.buttonEvent{
    all: unset;
    cursor: pointer; 
    background-color: var(--extra-color);
    color: var(--color-text);
    width: 9em;
    height: 3em;
    border-radius: 2em;
}
.buttonEvent:hover{
    font-weight:800;
}






/* POP UP CERRAR SESION */
.modal-content {
    border: none !important;
    border-radius: 7px;
    background-color: #ffffff;
    padding: 1.5rem;
}

/* Header */
.modal-header .modal-title {
    font-weight: bold;
    font-size: 1.2rem; 
    color: #2F3E45; 
    margin: 0;
    margin-left: 46px;
}

/* Línea debajo del título */
.modal-body {
    padding-top: 1rem;
    color: #2F3E45;
    font-size: 0.97rem; 
    margin-top: 20px;
}

/* Footer con separación */
.modal-footer {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem; 
    border-top: none;
}

/* Botones */
.btn-cancel,
.btn-accept {
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Botón Cancelar */
.btn-cancel {
    background-color: #C8898C; 
    color: #fff;
}

.btn-cancel:hover {
    background-color: #d07275;
    color: #ffffff;
    font-weight: bold;
}


.btn-cancel:active,
.btn-cancel:focus {
    background-color: #d07275 !important; /* Igual que hover */
    box-shadow: none !important; /* Elimina sombras */
    outline: none !important; /* Elimina el contorno */
    border: none;
    color:#ffffff !important;
}



/* Botón Aceptar */
.btn-accept {
    background-color: #89BAC8; 
    color: #2F3E45;
}

.btn-accept:hover {
    background-color: #6da6b5;
    color: #2F3E45;
    font-weight: bold;
}

.btn-accept:active,
.btn-accept:focus {
    background-color: #6da6b5 !important; /* Igual que hover */
    box-shadow: none !important; /* Elimina sombras */
    outline: none !important; /* Elimina el contorno */
    border: none;
}
.NoButton{
    all: unset;
}