<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conFIA</title>   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inria Sans' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar d-flex justify-content-around fixed-top pb-0">
            <a class="navbar-brand fs-4">CONFIA</a>
            <div>
                <div>
                    <form class="d-flex search" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <i class="bi bi-search m-2" type="submit"></i>
                    </form>
                </div>
            </div>
            <div>
                <form class="d-flex">
                    <a class="btn me-2" type="button" href="indexCUPersonal.html">Eventos</a>
                    <a class="btn me-2" type="button" href="verNotificacionesPersonal.html">Notificaciones</a>
                    
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle user-icon" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle fs-3"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end text-center menu " aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="verEventosPersonal.html">Mis eventos</a></li>
                            <li><a class="dropdown-item" href="perfilPersonal.html">Ver perfil</a></li>
                            <li><a class="dropdown-item" href="index.html">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="line"></div>
        </nav>
    </header>
    <main>
        <div class="space"></div>

        <div class="container">
            <!-- Publicación 1 -->
            <div class="publications p-3 mb-4">
                <div class="row">
                    <div class="col-md-2 d-flex justify-content-center align-items-start">
                        <a href="verPerfilEmpresa.html">
                            <img src="{{ url_for('static', filename='imgs/uzuay.png') }}" width="100" height="100" alt="" class="imageLogo img-fluid">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <a href="verPerfilEmpresa.html" class="Company fs-5 fw-bolder pb-2">Universidad del Azuay.</a>
                        <div class="EventName pb-2">Congreso Mundial de Energías Renovables 2024.</div>
                        <div class="pe-3 pb-3">El Congreso Mundial de Energías Renovables 2024 es uno de los eventos más
                            esperados en el sector de la energía limpia y sustentable. Este congreso reunirá a líderes,
                            investigadores, empresarios y responsables de políticas energéticas de todo el mundo para
                            explorar los avances más recientes y enfrentar los desafíos que plantea la transición hacia un
                            futuro energético más sostenible.Durante el evento, se abordarán temas clave como la innovación
                            en tecnología de energías renovables, políticas globales de sostenibilidad, y modelos de
                            financiamiento para proyectos de energía verde. También se debatirán estrategias para la
                            descarbonización y la reducción de la dependencia de combustibles fósiles.</div>
                    </div>
                    <div class="col-12 text-center">
                        <img src="{{ url_for('static', filename='imgs/ejemplo1.png') }}"  alt="" class="imageInformation img-fluid">
                    </div>
                    <div class="col-12 d-flex justify-content-end mt-2">
                        <a href="InformacionEventoPersonalQR.html" class="buttonEvent text-center mx-2">Ver más...</a>
                        <a href="inscribirseqr.html" class="buttonEvent text-center mx-2">Inscribirse</a>
                    </div>
                </div>
            </div>
            <!-- Publicación 2 -->
            <div class="row publications p-3 mb-4">
                <div class="col-md-2 d-flex justify-content-center align-items-start">
                    <a href="verPerfilEmpresa.html">
                        <img src="{{ url_for('static', filename='imgs/googleExample.png') }}" width="100" height="100" alt="" class="imageLogo img-fluid">
                    </a>
                </div>
                <div class="col-md-10">
                    <a href="verPerfilEmpresa.html" class="Company fs-5 fw-bolder pb-2">TechWorld.</a>
                    <div class="EventName pb-2">Feria Internacional de Tecnología 2024.</div>
                    <div class="pe-3 pb-3">La Feria Internacional de Tecnología 2024 es un evento de gran magnitud que
                        congregará a líderes de la industria, empresas emergentes, investigadores y entusiastas de la
                        tecnología para descubrir y experimentar las últimas innovaciones en el sector. Esta feria es el
                        lugar perfecto para explorar desarrollos de vanguardia en inteligencia artificial, robótica,
                        realidad virtual, y muchas otras áreas que están transformando el mundo. TechWorld Events
                        dedicará un área exclusiva para startups tecnológicas que están comenzando a destacarse en la
                        industria. Estas empresas emergentes tendrán la oportunidad de presentar sus productos y
                        servicios innovadores, atraer a inversores y conectar con posibles socios estratégicos.</div>
                </div>
                <div class="col-12 text-center">
                    <img src="{{ url_for('static', filename='imgs/ejemplo2.png') }}"  alt="" class="imageInformation img-fluid">
                </div>
                <div class="col-12 d-flex justify-content-end mt-2">
                    <a href="InformacionEventoPersonalRF.html" class="buttonEvent text-center mx-2">Ver más...</a>
                    <a href="InscribirseRecFac.html" class="buttonEvent text-center mx-2">Inscribirse</a>
                </div>
            </div>
        </div>


        <!-- POP UP CERRAR SESION -->
        <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logoutModalLabel">¿Está seguro de querer cerrar sesión?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <p>Si cierra sesión ahora, perderá cualquier cambio no guardado.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancelar</button>
                        <a href="index.html" class="btn btn-accept">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
