{% extends '/indexCUEmpresarial.html' %}

{% block body %}
<div id="resultado">
    {% if eventos %}
        {% for evento in eventos %}
        <div class="publications p-3 mb-4">
            <div class="row">
                <!-- Imagen del creador -->
                <div class="col-md-2 d-flex justify-content-center align-items-start">
                    <img src="{{ url_for('static', filename=evento['creadorImagen'] or 'default-profile.png') }}" 
                        alt="{{ evento['creadorNombre'] }}" 
                        class="imageLogo img-fluid rounded-circle">
                </div>
                
                <!-- Información del evento -->
                <div class="col-md-10">
                    <h5 class="Company fs-5 fw-bolder pb-2">{{ evento['creadorNombre'] }}</h5>
                    <h6 class="EventName pb-2">{{ evento['eventoNombre'] }}</h6>
                    <p class="pe-3 pb-3">{{ evento['descripcion'] }}</p>
                </div>

                <!-- Imagen del evento -->
                <div class="col-12 text-center">
                    <img src="{{ url_for('static', filename=evento['eventoImagen'] or 'default-event.png') }}" 
                        alt="{{ evento['eventoNombre'] }}" 
                        class="imageInformation img-fluid">
                </div>

                <!-- Botones -->
                <div class="col-12 d-flex justify-content-end mt-2">
                    <a href="{{ url_for('verMasEmpresa', evento_id=evento['id']) }}" class="buttonEvent text-center mx-2">Ver más...</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="text-center">No hay coincidencias.</p>
    {% endif %}
</div>
{% endblock %}
